#card {
    border: 1px solid rgb(63, 67, 73);
    height: 630px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
 }
 #card-img {
    width: 630px;
    height: 630px;
    position: relative;
    border: 1px solid rgb(63, 67, 73);
 }
 #card-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
 }
 
 #project-title p {
    font-family: "open sans";
    color: rgb(61, 59, 59);
    font-size: 30px;
    font-weight: 400;
 }
 .c-txt {
    width: 950px;
    height: 630px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #141416;
 }

 .even {
    flex-direction: row-reverse;
 }
 .icon {
    color: whitesmoke;
    font-size: 25px;
    margin-right: 10px;
 }
#tech-demo{
   width:90%;
   display: flex;
   justify-content: space-between;
}


 #tools {
    width:210px;
    justify-content: space-around;
 }
 #demo {
    width:27%;
    display: flex;
    justify-content: space-around;
    align-items: center;
   
 }
 
 #card {
    border: 1px solid rgb(63, 67, 73);
    height: 630px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
 }
 #card-img {
    width: 630px;
    height: 630px;
    position: relative;
    border: 1px solid rgb(63, 67, 73);
 }
 #card-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
 }
 .c-txt {
    width: 950px;
    height: 630px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #141416;
 }
 #txt-container {
    height: 200px;
    width: 80%;
    flex-direction: column;
 }
 #p1,
 #des {
    display: flex;
    align-self: self-start;
 }
 #p1 {
    margin-bottom: 20px;
 }
 #p1 p,
 #des p {
    font-family: "open sans";
    font-size: 16px;
    color: #8A8A8A;
 }
 #p2 {
    width: 350px;
    margin-left: 110px;
    margin-right: 30px;
    display: flex;
    align-self: center;
 }
 #p2 p {
    font-family: "open sans";
    font-size: 16px;
    color: #8A8A8A;
    line-height: 1.8em;
    line-break: anywhere;
    margin-left: 20px;
    margin-right: 20px;
 }
 #demo a,
 #tools a {
    color: #8A8A8A;
    color: white;
    text-decoration: none;
    font-size: 12px;
 }

 #mid{
   height:25%;
 }
 
 .project-data-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    margin-left: 33px;
    height: 55%;
   
 }
 .project-title-section {
    color: white;
    display: flex;
    width: 463px;
    justify-content: space-between;
 }
 .project-title {
    min-width: 119px;
 }

 .project-description-section {
    color: white;
    display: flex;
    width: 663px;
    justify-content: space-between;
 }
 .description-title {
    min-width: 119px;
 }
 .description-text {
    width: 60%;
 }

 #git,#web {
   font-size:25px;
 }
 @media only screen and (max-width:1300px) {
    #card {
       flex-direction: column;
       height: 730px;
    }
    #card-img {
       height: 300px;
    }
    .c-txt {
       width: 100%;
    }
    .project-description-section {
       width: 85%;
    }
    .project-title-section {
       width: 85%;
    }
    .description-text {
       width: 404px;
    }
    .project-title-text {
       width: 404px;
    }
    .project-data-container {
       width: 100%;
       margin-left: 60px;
    }
 }
 @media only screen and (max-width:475px) {
    .project-data-container {
       margin-left: 35px;
    }
    .project-title-text {
       font-size: 13px;
    }
    .description-text {
       font-size: 13px;
    }
 }
 @media only screen and (max-width:475px) {
    .project-data-container {
       height: 65%;
    }
 }
 
 @media only screen and (max-width:475px) {
   #mid{
      height:5%;
 
    }
    
   #tech-demo{
      width:95%
   }

   #tools{
      width:65%;
      display:flex;
   }
   #demo{
      width:30%
   }
}
 
 
 

 
 
 
 
 
 