#card{
    border:1px solid rgb(63,67,73);
    height:630px;
    display:flex;
    justify-content:space-between;
    align-items: center;
    overflow: hidden;
  
}

#card-img{
   width:630px;
   height:630px;
   position: relative;
   border:1px solid rgb(63,67,73);
}

#card-img img{
   
   width:100%;
   height: 100%;
   object-fit: cover;
}


#project-title{
   position:absolute;
   top:40%;
   left:35%;
}


#project-title p{
   font-family: "open sans";
   color:rgb(61, 59, 59);
   font-size:30px;
   font-weight:400;
}


.c-txt{
   width:950px;
   height:630px;
   display:flex;
   flex-direction: column;
   justify-content: center;
    align-items: center;
   background-color: #141416;  
}

.txt-w{
    width:343px;
}
 #p1 p, #p2 p{
    font-family: "open sans";
    font-size: 16px;
    color:#8A8A8A;
    line-height: 1.8em;
   line-break: anywhere;
   margin-left: 20px;
   margin-right: 20px;
}

#p1{
   margin-bottom: 15px;
}

.even {
    flex-direction: row-reverse;
  }


  .icon{
   color: whitesmoke;
   font-size:25px;
   margin-right: 10px;
  }

 
  #tools{
   width:90%;
   margin-right:10%;
   padding-top:50px;
   display: flex;
   justify-content:flex-end;
  }

  @media only screen and (max-width:375px) {
   .txt-w{
      width:250px;
  }


}


  @media only screen and (max-width:425px) {
   .txt-w{
      width:280px;
  }
 
   #p1 p, #p2 p{
      font-size: 10px;
   } 
 
}

@media only screen and (max-width:900px) {
   #project-title{
      top:40%;
      left:40%;
   }
}   


   

@media only screen  and (max-width:900px) and (min-width:425px) {
   #p1 p, #p2 p{
      font-size: 11.5px;
   } 
  #p1 {
      margin-bottom: 5px;
  }

}

  @media only screen  and (max-width:900px)  {
  #card{
     flex-direction: column;
     height: 730px;
  }
#card-img{
   height:300px;
}

  .c-txt{
   width:100%; 
   }

  }


  