#card{
    border:1px solid rgba(255, 255, 255, 0.842);
    width:100%;
    max-width: 1000px;
    height: auto;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 10px;
    overflow: hidden;
}

#card-img{
   border:1px solid black;
   width: 100%;
   max-width: 50%;
   height: 200px;
}

#card-txt{
  width: 100%;
   max-width: 50%;
   height: auto;
}

#card-txt p{
    padding: 30px;
    line-break: anywhere
}
