
#f {
  width: 100%;
  height: 300px; 
  margin-top: 100px; 
  display: flex;
  justify-content:center;
  align-items: center;
  background-color: black;
  color: white;
  text-align: center;
}

#f-container{
  width:800px;
  display:flex;
  justify-content: space-between;
  /*border:1px solid green ;*/
}

/*--------footer -left-part--------------------------------------*/

#f-left {
  width: 350px; 
  height: 217px;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  position: relative;
  /*border:1px solid yellow*/

}

#f-left a{
  color:white;
  text-decoration:none
}

#f-left > div:first-child {
  text-align: left;
  font-size: 15px;
}


#left-info {
  line-height: 1.7em; 
  text-align: left; 
  margin-top: 35px;
  
}

#scoial {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 120px;
  margin-top: 10px;
  line-height: 1.5em; 
}

  #f-bottom{
    position:absolute;
    left:0px;
    bottom: 0px;
  }


    @media only screen and (max-width:599px) { 
        #f {
          height: 500px; 
        }

      #f-container {
      flex-direction: column;     
    }
    #f-left {
    
      width: 200px;
      height: 160px;
      }

      #left-info{
      display: flex;
      flex-direction: column-reverse;
      line-height: 2.7em;   
   
    }

    #p-info{
      display:none
    }

  }


  @media only screen and (max-width:900px) and (min-width:600px){
    #f-container{
      width:550px
    }
    
    #f-left {
   width: 250px;
    }

}


