#header{
   
    display: flex;
    justify-content: space-between;
    align-items: center;   
    width:100%;
    padding: 1.5%;
     
}


#hamburger-menu {
    display:none; /* Show hamburger menu */
    
}
#header a{
    font-size:1.5vw;
    color:black;
}


#h-left{
    width:40%;
    align-items: center;
    justify-content: center;
}


#h-right{

    display:flex;
    justify-content: space-around;
    align-items: center;
    width:40%;          
}


#header  a:hover {
    color: rgb(233, 186, 186); 
}

@media only screen and (max-width:768px) {
    #h-right {
        display: none; /* Hide the right section on mobile */
    }

    #h-left {
        width: auto; /* Allow the left section to take full width */
    }

    #hamburger-menu {
        display: block; /* Show hamburger menu */
        font-size: 1.5em; /* Set font size for the hamburger icon */
        cursor: pointer; /* Add pointer cursor for better UX */
    }
}