#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 76px;

}

#header a {
    font-size:16px;
    text-decoration: none;
    color:black;
}

#hamburger-menu {
    display: none;
}

#h-left  {
   width:440px;
   height:100%;
   display: flex;
   align-items: center;
   justify-content: center;
  
}

#h{
    width:25px;
    height:25px;
    border-radius: 50%;
    text-align: center;
    margin-right:15px;
    background-color:#EEA302;
 
}

#h-left a{
    font-size:22px;
    font-weight:600;
}

#h a{
    font-size:10px;
    color:#EEA302;
}

#h-j{
    color:black;
    margin-top:1%;
    margin-left:2%;
}

#h-right {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width:370px;
    height:100%;
    
}



.vertical-line{
    height:20px;
    width:1px;
    border:1px solid black;
}


#header a:hover {
    color: rgb(233, 186, 186);
}

#h a:hover{
    color:#EEA302;
}



#mobile-menu-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 2;
}



#mobile-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



#mobile-menu a {
    font-size: 1.2rem;
    color: black;
    margin: 10px;
}

#close-menu {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    color: black; 
    font-size:30px;
    margin-right: 14px;
}



@media only screen  and (max-width:770px) and (min-width:750px) {
 
        #h-left a{
            font-size:16px;
        }

        #h-right{
            font-size: 16px;
        }
    }

@media only screen and (max-width:749px) {
    #hamburger-menu {
        display: block;
        font-size:30px;
        margin-right:10px;
        color: grey;
        cursor: pointer;
    }
  
    #h-right {
        display: none;
    }

    #mobile-menu-container {
        display: flex;
    }
}


@media only screen and (max-width:440px) {

    #h-left a{
        font-size:18px;
    }

    #h-j{

        font-size: 12px;
    }
}