
#bg-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
   /* background-color: rgb(243,243,243);*/
}
  
#bg-container p{
  text-align: left;
}
#projects-container{
  margin:30px;

}

.card{
  width:100px;
  height:630px;

}

#projects-title  {
  height: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "open sans";
  font-size:50px;
  color: black;
}


#arrow-link{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


#arrow-link p{
  font-family: "open sans";
  font-size: 25px;
  font-weight: 600px;
  padding-bottom: 50px;
}

#arrow-link svg{
  background-color: yellow;
  height: 100px;
  width: 15px;
}


#arrow-link path{
  color: brown;
}


#projects-container{
  display: grid;
  
}

@media only screen and (max-width:425px){
  #projects-title {
    font-size: 20px;
  }

}