
#bg-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
   /* background-color: rgb(243,243,243);*/
}
  
#bg-container p{
  text-align: left;
}
#projects-container{
  margin:30px;

}

.card{
  width:100px;
  height:630px;

}

#projects-title  {
  height: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "open sans";
  font-size:50px;
  color: black;
}


#arrow-link{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


#arrow-link p{
  font-family: "open sans";
  font-size: 25px;
  font-weight: 600px;
  padding-bottom: 50px;
}




#projects-container{
  display: grid;
  margin-bottom:70px;
  
}

@media only screen and (max-width:425px){
  #projects-title {
    font-size: 20px;
  }

}


#arrow-link {
  text-align: center;
}

#arrow-link a {
  text-decoration: none;
  color:black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.arrow-icon {
  width: 15px;
  height: 100px;
  color: black;
}

#arrow-link p {
  margin: 0;
  color: black;
  font-family: "Open Sans", sans-serif;
}

#go-up a:hover {
  color: blue;
}