#res-container{
    display:flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;  
}

#top{
    width:90%;
    height:450px;
    display: flex;
    flex-direction:column;
    align-items: center;
   
}

#top h3{
    font-size: 35px;
    align-self: self-start;
    margin-top: 50px;
}
p,li ,a {
    font-family: "Work sans";
}

#aboutme{
    font-size: 16px;
}

#res-t{
/*width:560px;*/
width:640px;
display:flex;
justify-content: space-evenly;
margin-top: 70px;
margin-left: 180px;
}

#res-image{
    width:300px;
    height:300px;
    border-radius: 50%;
    object-fit: cover;
}

#who{
    display:flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
  }
#name{
    font-size:40px;
    /*letter-spacing: 1.2px;*/
    font-weight:600;
    padding-bottom: 10px;
}

#job{
    font-size:24px;
    letter-spacing:0.5px;
    font-weight:500;
}

#profile{
    /*width:80%;*/
    width:950px;
    margin-top: 70px;
    margin-bottom:70px;
}

#profile-title{
 font-size:30px;
 margin-bottom: 30px;
}
#res-b{
    min-width:860px;
    margin-top: 50px;
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
}


.res-card{
    width:97%;
    display:flex;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
    margin-top:20px;
    margin-bottom:20px;  
}

#card2-right,.card1-right{
   max-width:600px;
}

.h-line{
    width:1200px;
    border:0.001px solid rgb(224, 219, 219)
}

.res-card-left{
   max-width:200px;
   /* margin-left:85px;*/
    padding-left:85px;
}

li{
    margin-left:30px;
    font-size: 16px;
    color: #000000;
    line-height: 1.6em;
    font-size:14px
}

.tech{
    font-size: 16px;
}

.card2-right-details{
    width:600px;
    display:flex;

}

.card1-right{
    width:650px;
    margin-bottom: 40px;
}

.t{
    width:364px;
}

#t1, #t2,#t3,#t4 {
    font-size: 24px;
    font-weight:600;
    color: #000000;
}

#p1,#pt1,#pt2,#pt3,#pt4,#pt5,#p6{
    color: #000000;
    font-size: 17px;
    font-weight:600
}

.f-row{
    display: flex;
    justify-content: space-between;
   width:520px
}

.date{
    min-width: 119px;
}

#second-row{
    width:440px;
      margin-left: 156px;
}

a{
    text-decoration: none;
    color:black
}

a:hover{
    color:blue
}

#y{
    width:300px;
      
}

#card2-right{
    width:650px;
    
}

#p1{
  width:364px
}

#first-row-p2{
    width:436px
}

#card2-second{
    display: flex;
    justify-content: space-between;
    width:600px;
}

#card2-third{
    display: flex;
    justify-content: space-between;
    width:600px;
}

#card2-fourth{
    display: flex;
    justify-content: space-between;
    width:600px;   
}

#line{
    width:1200px;
    border:0.001px solid rgb(224, 219, 219)
}

#p3,#p4{
    width:440px;
}

#first-row-p2 {
    width: 440px;
}

 ul > :first-child {
    padding-top: 15px;
  }

 
  li{
    padding-bottom:10px;
  }

  #res-card1{
    margin-top: 60px;
    margin-bottom:10px;
  }

  #res-card2{
    margin-top:60px;
    margin-bottom:10px;
  }

  #res-card3{
    margin-top:60px;
    margin-bottom:30px;
  }

  .f-row {
    margin-bottom:25px;
  }


.resume {
    padding-bottom: 20px;
    
}

.resume p{
    padding-bottom: 10px;
    
}



.resume> :first-child {
    padding-top: 15px;
    
  }

  .resume p{
    color: #000000;
    line-height: 1.6em;
    font-size:14px
  }