#res-container{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;  
   
}

#top{
    width:90%;
    height:450px;
    display: flex;
    flex-direction:column;
    align-items: center;
}

#top h3{
    font-size: 35px;
    align-self: self-start;
    margin-top: 50px;
}
p,li ,a {
    font-family: "Work sans";
}

#aboutme{
    font-size: 16px;
}

#res-t{
/*width:640px;*/
display:flex;
justify-content: space-evenly;
margin-top: 70px;
/*margin-left: 180px;*/
}

#res-image{
    width:300px;
    height:300px;
    width:17rem;
    height: 17rem;
    border-radius: 50%;
    object-fit: cover;
}

#who{
    display:flex;
    flex-direction: column;
    justify-content: center;
    padding-left:1rem;
  }
#name{
    font-size:40px;
    /*letter-spacing: 1.2px;*/
    font-weight:600;
    padding-bottom: 10px;
}

#job{
    font-size:24px;
    letter-spacing:0.5px;
    font-weight:500;
}

#profile{
    /*width:950px;*/
    margin-top: 70px;
    padding-left:5%;
    padding-right:5%;
}

#profile-title{
 font-size:30px;
 margin-bottom: 30px;
}
#res-b{
    width:90%;
    margin-top: 50px;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.res-card{
    width:97%;
    display:flex;
    justify-content: space-between;
    margin-top:20px;
    margin-bottom:20px;  
    /*border:2px solid rgb(107, 107, 73)*/

}

#card2-right,.card1-right{
   /*max-width:600px;*/
   width:79%
}

.h-line{
    /*width:1200px;*/
   min-width:350px;
    border:0.001px solid rgb(224, 219, 219);  
    
}

.res-card-left{
   /*max-width:200px;*/
    width:200px;
    /*padding-left:85px;*/
    padding-left: 8%;
    margin-right: 17px;
}

li{
    margin-left:30px;
    font-size: 16px;
    color: #000000;
    line-height: 1.6em;
    font-size:14px
}

.tech{
    font-size: 16px;
}

.card2-right-details{
    width:600px;
    display:flex;

}

.card1-right{
    width:650px;
    margin-bottom: 40px;
}

.t{
    width:364px;
}

#t1, #t2,#t3,#t4 {
    font-size: 24px;
    font-weight:600;
    color: #000000;
    
}

#p1,#pt1,#pt2,#pt3,#pt4,#pt5,#p6{
    color: #000000;
    font-size: 17px;
    font-weight:600
}

.f-row{
    display: flex;
    justify-content: space-between;
   width:520px
}

.date{
    min-width: 119px;
}

#second-row{
    width:440px;
      margin-left: 156px;
}

a{
    text-decoration: none;
    color:black
}

a:hover{
    color:blue
}

#y{
    width:300px;
      
}

#card2-right{
    width:650px;
    
}

#p1{
  width:364px
}

#first-row-p2{
    width:436px
}

#card2-second{
    display: flex;
    justify-content: space-between;
    width:600px;
}

#card2-third{
    display: flex;
    justify-content: space-between;
    width:600px;
}

#card2-fourth{
    display: flex;
    justify-content: space-between;
    width:600px;   
}

#line{
  min-width:350px;
    border:0.001px solid rgb(224, 219, 219);
}

#p3,#p4{
    width:440px;
}

#first-row-p2 {
    width: 440px;
}

 ul > :first-child {
    padding-top: 15px;
  }

 
  li{
    padding-bottom:10px;
  }

  #res-card1{
    margin-top: 60px;
    margin-bottom:10px;
  }

  #res-card2{
    margin-top:60px;
    margin-bottom:10px;
  }

  #res-card3{
    margin-top:60px;
    margin-bottom:30px;
  }

  .f-row {
    margin-bottom:25px;
  }


.resume {
    padding-bottom: 20px;
    
}

.resume p{
    padding-bottom: 10px;
    
}



.resume> :first-child {
    padding-top: 15px;
    
  }

  .resume p{
    color: #000000;
    line-height: 1.6em;
    font-size:14px
  }


  
@media only screen  and (max-width:700px) { 

    #name{
        font-size:25px;
      }
   
      #job{
       font-size: 20px;
      }
   
}


@media only screen  and (max-width:500px) {

#res-t {
    display:flex;
    flex-direction: column;
  
}

#who{
    padding-top: 20px;
    text-align: center;
}


#profile-title {
font-size: 20px;
margin-bottom: 20px;

}
#aboutme {
    font-size: 13px;
}
.tech{
font-size: 12px;
}


#p4, #p3,#p1{
    width:auto;

   
}

#first-row-p2 {
    width:auto;
    

}



}




@media only screen and (max-width:999px) and (min-width:900px) {

    .res-card{
        width:100%;
    }
}

@media only screen and (max-width:989px) and (min-width:780px) {
    #res-t{
        margin-left: 120px;
    }
    #name{
        font-size: 30px;
    }
    #aboutme p{
        font-size: 14px;
    }

    li .tech{
        font-size: 14px;
    }

    #resume{
        font-size: 30px;
    }
    #profile{
      font-size: 30px;
    }
    .res-card-left{
        max-width:200px;
         padding-left:0px;
     }

    .res-card{
        width:100%
        
    }

    #p1,#pt1,#pt2,#pt3,#pt4,#pt5,#p6{
        font-size: 14px;
    }

    
    #t1, #t2,#t3,#t4{
        font-size: 18px;
    }
}

@media only screen and (max-width:779px)   {


    /*#res-t,#profile{
        display: none;
    }*/

  
    #line{
        display: none;
    }
    .res-card{
        display: flex;
        flex-direction: column;
        /*align-items: center;*/
        justify-content: center;
       
    }


    #second-row{
        margin-left: 0px;
    }
    .res-card-left{
      width:70%;
       padding-left: 0px;
    }

    .card1-right{
       width: 70%
    }
    #card2-right{
        width:70%;
        
    }
    #card2-second{
        flex-direction: column;
        width:auto;
       
    }
    #card2-third{
        flex-direction: column;
        width:auto;
       
    }

    #card2-fourth{
        flex-direction: column;
        width:auto;
    }

    .date{
        padding-bottom: 10px;
    }
    .f-row{
        flex-direction: column;
        width:auto
       
    }

    #t1, #t2,#t3,#t4 {
        width:250px;
        padding-bottom:30px;
        font-size: 24px;
        font-weight:600;
        color: #000000;
    }  
}


@media only screen and (max-width:559px) {
   


  /*  .res-card-left{
        width:50%
    }*/

    
    #second-row {
        width: auto;
    }

 
.resume {
  width:350px;
 
}

.resume p {
    font-size: 13px;
}

#p1, #pt1, #pt2, #pt3, #pt4, #pt5, #p6{
    font-size:15.5px;
    min-width: 300px;
}

}


@media only screen and (max-width:450px) {

  
    #top h3{
        font-size:28px;
    }
   /* .card1-right,#card2-right {
        width:40%;
       
    }

        .res-card-left{
         width:40%
        }*/
    
    .resume {
    width:300px;
    
    }

    .resume  p {
        font-size: 12px;
        
                }

    .t{
        width:auto
    }

    .date{
        min-width: 250px
    }
    #p1, #pt1, #pt2, #pt3, #pt4, #pt5, #p6{
        font-size:13px;
        
    }

    #t1, #t2, #t3, #t4 {
        font-size: 20px;
    }

 
}