#res-container{
    display:flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    
}
p,li ,a {
    font-family: "Work sans";
}

#aboutme{
    font-size: 14px;
}

#res-t{
width:400px;
display:flex;
justify-content: space-evenly;
margin-top: 50px;
}

#res-image{
    width:200px;
    height:200px;
    border-radius: 50%;
    object-fit: cover;
}

#who{
    display:flex;
    flex-direction: column;
    justify-content: center;
  
}

#who p{
    font-size:22px;
    font-weight:600;
    /*line-height: 1.6em;*/
    letter-spacing: 1.2px;
}

#profile{
    width: 870px;
    margin-top: 70px;
}

h4{
 font-size: 22px;
}
#res-b{
   
    width:900px;
    margin-top: 50px;
    display:flex;
    flex-direction: column;
    align-items: center;

}


.res-card{
    width:100%;
    display:flex;
    justify-content: space-around;
   
}

.h-line{
    width:1200px;
    border:0.001px solid rgb(224, 219, 219)
}

.res-card-left{
    width:30%;
    margin-top: 25px;
}

li{
    margin-left:30px;
    font-size: 12px;
    color: #000000;
}

.tech{
    font-size: 14px;
}

.card2-right-details{
    width:600px;
    display:flex;

}

.card1-right{
    width:650px;
    margin-bottom: 40px;
   
}

.t{
    width:364px;

}

#t1, #t2,#t3,#t4 {
    font-size: 22px;
    font-weight:600;
    color: #000000;
   
}

#p1,#pt1,#pt2,#pt3,#pt4,#pt5,#p6{
    color: #000000;

    font-size: 14px;
    font-weight:600
}


.first-row{
    display: flex;
    justify-content: space-between;
 
   width:600px
}

.date{
    min-width: 119px;
}

#second-row{
    width:300px;
    margin-left: 238px;
    
}



a{
    text-decoration: none;
    color:black
}

a:hover{
    color:blue
}

#y{
    width:300px;
      
}

#card2-right{
    width:650px;
    
}


#p1{
  width:364px
}

#first-row-p2{
    width:364px
}

#card2-second{
    display: flex;
    justify-content: space-between;
    width:600px;
    margin-top:30px;
    margin-bottom:30px;
}



#card2-third{
    display: flex;
    justify-content: space-between;
    width:600px;
    margin-top:30px;
    margin-bottom:30px;
 
}

#p3{
    width:364px
}

#card2-fourth{
    display: flex;
    justify-content: space-between;
    width:600px;
    margin-top:30px;
    margin-bottom:30px;
    
}

#p4{
    width:364px
}

#first{
    margin-bottom: 15px;
}